doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(language='javascript' src='/bootstrap/js/jquery.js')
    script(language='javascript' src='/bootstrap/js/bootstrap.min.js')
    meta(name="description" content="Control your LED Matrix from an RasberryPi and a Webbrowser")
    meta(name="author" content="AndreasTheDead")
    block extraheader
  body
    //navbar
    nav(class='navbar navbar-expand-lg navbar-dark fixed-top bg-dark')
      a(class="navbar-brand" href="/") RPI LED Matrix
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class='collapse navbar-collapse' id='navbarColor02')
        ul(class='navbar-nav mr-auto')
          li(class='nav-item')
            a(class='nav-link' href='/') Home
          li(class='nav-item')
            a(class='nav-link' href='/gallery') Gallery
          li(class='nav-item dropdown')
            a(class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Editors
            div(class="dropdown-menu")
              a(class='dropdown-item' href='/editors/pixelart') Pixelart
              a(class='dropdown-item' href='/editors/text') Text
    //page content
    div(class='container')
      div.page-header
      div.bs-docs-section.clearfix
        block content
      <!-- Footer -->
      footer(id='footer')
        p Powered by:
          a(href='https://github.com/AndreasTheDead/RPILedMatrixControlWebpage')  RPI LED Matrix Controller
