doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    meta(name="description" content="Control your LED Matrix from an RasberryPi and a Webbrowser")
    meta(name="author" content="AndreasTheDead")
    block extraheader
  body
    script.
      function togglenav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
    <!-- Navbar -->
    div(class='top')
      div(class='nav-bar')
        a(class='hide-large nav-bar-toogler' href='javascript:void(0);' onclick='togglenav()' title='Toggle Navigation ')
          i(class='fa-bars')
        a(class='w3-bar-item button w3-hide-small w3-padding-large navbar-hover' href='/') Home
        a(class='w3-bar-item button w3-hide-small w3-padding-large navbar-hover' href='/editor') Editor
        a(class='w3-bar-item button w3-hide-small w3-padding-large navbar-hover' href='/galery') Galery
    <!-- Navbar on small screens -->
    div(id='navDemo' class='w3-bar-block w3-white w3-hide w3-hide-large hide-medium large')
      a(class='w3-bar-item button w3-padding-large' href='/') Home
      a(class='w3-bar-item button w3-padding-large' href='/editor') Editor
      a(class='w3-bar-item button w3-padding-large' href='/galery') Galery
    <!-- Content -->
    dic(class="w3-row-padding w3-padding-64 w3-container")
      div(class="w3-content")
      block content

    <!-- Footer -->
    footer(class='w3-container w3-padding-64 w3-center w3-opacity')
      p Powered by
        a(href='https://github.com/AndreasTheDead/RPILedMatrixControlWebpage') RPI LED Matrix Controller
