doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="description" content="Control your LED Matrix from an RasberryPi and a Webbrowser")
    meta(name="author" content="AndreasTheDead")
  body
      block content
